
.end-content{
    background-color: white;
    border: solid 0px;
    border-radius: 2rem;
    max-width: 80vw;
    height: 39vh;
    padding-top: 16vh;
    font-size: 7vw;
    line-height: 10vw;
    font-weight: 600;
}

.end-font{
    margin-bottom:13vh;

}

.end-b{
    font-weight: 600;
    font-size: 3.7vh;
    line-height: 2.7rem;
}

.end-fonts{
    margin-bottom: 20vw;

}

@media (min-height:1000px){
    .sti-content-font{
        margin-bottom: 8vh;
    }
}
