*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}

.header,
.content {
  min-height: 23vh;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  margin-top: -20vh;
  height:0vh;
  background-color: #22184c;
  color: #ddf;
}

.content {
  color: #22184c;
}

h1 {
  font-size: 3rem;
  letter-spacing: .1ch;
  font-weight: 300;
  margin: 0;
  opacity: .5;
}

.canvas-wrap {
  width: -webkit-fill-available;
  overflow: hidden;
  position: relative;
  transform: translateY(-50%);
}

canvas {
  display: block;
}