.welcome-content{
    background-color: white; 
    border:solid 0px; 
    border-radius: 2rem; 
    max-width: 73vw; 
    height: 50vh; 
    line-height: 5vh;
}
.welcome-div{
    margin-top: 11vh;
    font-size: 3.5vh; 
}